



.edt-btn{
  background-color: #ff0066;
  color:#f2f2f2;
  padding: 10px 15px;
  /* box-shadow: 2px 2px #b30047; */
  border:none;
  border-radius: 5px;
  font-size: 15px;
}
.edt-btn:hover{
  cursor: pointer;
  box-shadow: 4px 4px  #ff66a3;
}
.table{
  border-collapse: collapse;
  width: 50%;
  margin-left: 385px;
  text-align: center;
}
.table-head{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: 
  #4700b3;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}
.table-column{
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){
  background-color: #ff80b3;
}
.table tr:nth-child(odd){
  background-color: #ffcce6;
}


.table tr:hover{
  background-color: #7070db;
  cursor: pointer;
}